@media only screen and (min-width: 768px) {
  .card {
    height: 100%;
    width: 15vw;

    .card-image {
      height: 30vh;
      width: 15vw;

      .image {
        img {
          height: 30vh;
        }
      }
    }

    .card-content {
      height: 20vh;
    }
  }
}

@media only screen and (max-width: 768px) {
  .card {
    height: 100%;

    .card-image {
      height: 30vh;
      width: 100%;

      .image {
        img {
          height: 30vh;
        }
      }
    }

    .card-content {
      height: 20vh;

      .media {
        height: 20vh;
      }
    }
  }
}
